---
import cn from '../utils/cn'
import Logo from './Logo.astro'
import { getRelativeLocaleUrl } from 'astro:i18n'
import { getLangFromUrl, useTranslations } from '../i18n/utils'
import MobileNav from './MobileNav.astro'
import { defaultLanguage } from '../i18n/ui'

const currentLanguage = getLangFromUrl(Astro.url);
const t = useTranslations(currentLanguage);
const pathname = Astro.url.pathname

const links = [{
    pathname:  getRelativeLocaleUrl(getLangFromUrl(Astro.url), "" ),
    label: t('nav', 'home'),
}, {
    pathname:  getRelativeLocaleUrl(getLangFromUrl(Astro.url), "about" ),
    label: t('nav', 'about'),
}, {
    pathname: getRelativeLocaleUrl(getLangFromUrl(Astro.url), "contact" ),
    label: t('nav', 'contact'),
},{
    pathname: getRelativeLocaleUrl(getLangFromUrl(Astro.url), "services" ),
    label: t('nav', 'services'),
}]

const navContainer = cn('nav-container shadow-bottom-strong','bg-background  border-b flex justify-center w-full ')
const navClass = cn('max-w-7xl flex relative justify-between items-center w-full font-bold text-2xl py-2 ')

---

<nav class={navContainer}>
    <section class={navClass}>

    <a href={`/${currentLanguage}/`} class='relative max-w-52 min-w-52 h-16'>
        <Logo/>
    </a>
    <ul class='navlist hidden max-w-7xl md:flex flex-row gap-4 list-none justify-center p-2'>
        {links.map((link)=>(
        <li aria-label={`Navigate to ${link.label}`} role='button' class={`${link.pathname === pathname ? "text-primary" : "text-text-acika-secondary"}  hover:text-text-acika-primary transition-colors duration-400`}>
            <a href={link.pathname}>{link.label}</a>
        </li>
        ))}
    </ul>
    <!-- <HamburgerIcon client:load/> -->
     <MobileNav/>
    </section>

</nav>


<script>
  
    const navlist = document.querySelector('.navlist');
    const navContainer = document.querySelector('.nav-container');
    const hamburger = document.querySelector('.hamburger-icon');

 
    if(navlist && navContainer){
    window?.addEventListener('load', () => {
       
        if(navContainer?.clientWidth >= 768){
            // navlist?.classList.remove('flex');
            navlist?.classList.remove('hidden');
        } else {
            // navlist?.classList.add('flex');
            navlist?.classList.add('hidden');
        }
     
    });

    window?.addEventListener('resize', (e) => {

        if(navContainer?.clientWidth >= 768){
            // navlist?.classList.remove('flex');
            navlist?.classList.remove('hidden');
        } else {
            // navlist?.classList.add('flex');
            navlist?.classList.add('hidden');
        }
     
    });
}
</script>